<div  ng-controller="contEstAdmin">
  <section class="mainContent clearfix userProfile"  >
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="innerWrapper">
              <div class="orderBox">
                <h4 ng-controller="mainController">Reports Managment</h4>
                <div class="table-responsive">
                  <table class="table" >
                    <thead>
                      <tr>
                        <th>Report Type</th>
                        <th>Selection</th>
                    </tr>
                </thead>
                <tbody>
                  <tr >
                    <td> Top by Company</td>
                    <td><a class="btn btn-success" data-toggle="modal" data-target="#topCompany">Select</a></td>
                  </tr>
                  <tr >
                    <td> Top by Store</td>
                    <td><a class="btn btn-success" data-toggle="modal" data-target="#topStore">Select</a></td>
                  </tr>
                  <tr >
                    <td> Top by Employee</td>
                    <td><a class="btn btn-success" data-toggle="modal" data-target="#topEmp">Select</a></td>
                  </tr>
                  <tr >
                    <td>Employee take care time</td>
                    <td><a class="btn btn-success" data-toggle="modal" data-target="#empTime">Select</a></td>
                  </tr>
                  <tr >
                    <td> Lower Stock</td>
                    <td><a class="btn btn-success" ng-click="lowStock()">Select</a></td>
                  </tr>
                  <tr >
                    <td> Bils Report</td>
                    <td><a class="btn btn-success" data-toggle="modal" data-target="#dateSales">Select</a></td>
                  </tr>
                </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    

    <div class="modal fade" id="topStore" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Employee Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label> Store ID</label>
                  <input type="text" class="form-control" name="idEmp" placeholder="ID" ng-model="store" required>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="TopByStore(store)" data-dismiss="modal">Get Report</button>
          </div>
        </div>
      </div>
    </div>

    
    <div class="modal fade" id="topCompany" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Employee Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <div class="form-group">
                  <label>Initial Date</label><br>
                  <input class="datepicker" ng-model="initDate" data-date-format="mm/dd/yyyy">
                </div>
                <div class="form-group">
                  <label>Final Date</label><br>
                  <input class="datepicker" ng-model="finalDate" data-date-format="mm/dd/yyyy">
                </div>
               
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="TopByCO(initDate,finalDate)" data-dismiss="modal" >Get Report</button>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div class="modal fade" id="topEmp" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Employee Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                  <label> Employee ID</label>
                  <input type="text" class="form-control" name="idEmp" placeholder="ID" ng-model="cedula" required>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="TopByEmp(cedula)" data-dismiss="modal">Get Report</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="empTime" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Take Care Time Date</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Selected Date</label><br>
              <input class="datepicker" ng-model="finalDate" data-date-format="mm/dd/yyyy">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="empTime(finalDate)" data-dismiss="modal">Get Report</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="dateSales" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Date Sales Report</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label>Selected Date</label><br>
              <input class="datepicker" ng-model="finalDate" data-date-format="mm/dd/yyyy">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="getSalesByDate(finalDate)" data-dismiss="modal">Get Report</button>
          </div>
        </div>
      </div>
    </div>
    </div>