 <div  ng-controller="contMedAdmin" data-ng-init="init()">
<section class="mainContent clearfix userProfile"  >
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="innerWrapper">
            <div class="orderBox">
              <h4 ng-controller="mainController">Medicaments Managment</h4>
              <div class="table-responsive">
                <table class="table" >
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Product Name</th>
                      <th>Prodcut ID</th>
                      <th>Description</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="s in medList">
                      <td><i></i> <img  src="{{s.imagen}}" style="width: 150px; height: 120px;" alt="image"></span></td>
                      <td><i></i>  {{s.nombre}} </td>
                      <td><i></i> {{s.ean}}</td>
                      <td><i></i> {{s.descripcion}}</td>
                      <td><a class="btn btn-info" data-toggle="modal" data-target="#myModal">Edit</a></td>
                      <td><a class="btn btn-danger" ng-click="delete(s.ean)">delete</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="well well-lg clearfix">
                <ul class="pager">
                        <li ><a class="btn btn-succes btn-block"ng-controller="mainController" ng-click="goTo('nuevMed')"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</a></li>         
                
                </ul>
              </div>
      </div>
    </div>
  </section>

    <div class="modal fade" id="myModal" tabindex="-1" ng-controller="contMedAdmin" ng-click="UpdateDirections()" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content" >
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Product Info</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

              <div class="form-group">
                  <label>EAN Code</label>
                  <input type="text" class="form-control" name="idRec" placeholder="ID of the product" ng-model="ean" required>
                </div>
                <div class="form-group">
                  <label>Name</label>
                  <input type="text" class="form-control" name="nameProd" placeholder="Name of the product" ng-model="nombre" required>
                  </div>
                   <div class="form-group">
                    <label for="sucursales">Pharmaceutical House</label>
                    <select class="form-control" id="Company" ng-model="idProveedor" required>
                     <option ng-repeat="p in providerList">{{p.idproveedor}}:{{p.nombre}}</option>
                   </select>
                 </div>
                 <div class="form-group">
                   <label>Price of the product</label>
                   <input type="text" class="form-control" placeholder="Price of the product" ng-model="precio" required>
     
                 </div>
     

     
                 <div class="form-group">
                   <label>Quantity</label>
                   <input type="text" class="form-control" placeholder="Price of the product" ng-model="cantidad" required>
     
     
                 </div>
                 <div class="form-group">
                    <label for="sucursales">Description</label><br>
                    <textarea class="form-control" ng-model="descripcion">
      
                    </textarea>
      
                  </div>
     
                 <div class="form-group">
                   <label> Choose Image</label>
                   <input type="file" class="form-control-file" id="inputFile" onchange="openFile(event)" >
                   <small id="fileHelp" class="form-text text-muted">Select an image to represent the product</small>
     
                   <img id="output" style="width:100px; height:100px">
                 </div>

            
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" ng-click="edit()" data-dismiss="modal">Save changes</button>
            </div>
        </div>
      </div>
    </div>


</div>

