<div  ng-controller="contSucAdmin" data-ng-init="init()">
<section class="mainContent clearfix userProfile"  >
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="innerWrapper">
            <div class="orderBox">
              <h4 ng-controller="mainController">Stores Managment</h4>
              <div class="table-responsive">
                <table class="table" >
                  <thead>
                    <tr>
                      <th>Store Name</th>
                      <th>Store ID</th>
                      <th>Address Description</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr   ng-repeat="s in sucList" >
                      <td><i class="fa fa-medkit" aria-hidden="true"></i>  {{s.nombre}}</td>
                      <td><i class="fa fa-medkit" aria-hidden="true"></i> {{s.idsucursal}}</td>
                      <td><i class="fa fa-medkit" aria-hidden="true"></i> {{s.direccion}}</td>
                      <td><a class="btn btn-info" ng-click="setSuc(s.idSucursal)" data-toggle="modal" data-target="#myModal">Edit</a></td>
                      <td><a class="btn btn-danger" ng-click="delete(s.idSucursal)">delete</a></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="well well-lg clearfix">
                <ul class="pager">
                        <li ><a class="btn btn-succes btn-block"ng-controller="mainController" ng-click="goTo('nuevSuc')"><i class="fa fa-plus" aria-hidden="true"></i> Add Store</a></li>         
                
                </ul>
              </div>
      </div>
    </div>
  </section>
  <div class="modal fade" id="myModal"   ng-controller="userController" data-ng-init="UpdateDirection()" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog"  ng-controller="contSucAdmin" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Update Sucursales Info</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="nameProd" placeholder="Name of the Store" ng-model="nombre" required>
            </div>
            <div class="form-group">
              <label>ID</label>
              <input type="text" class="form-control" name="nameProd" placeholder="ID of the Store" ng-model="idSucursal" required>
            </div>
            <div class="form-group">
              <label>Direction Detail</label>
              <input type="text" class="form-control" name="nameProd" placeholder="Direction Detail" ng-model="direccion" required>
            </div>
            <div class="form-group">
              <label> Choose Image</label>
              <input type="file" class="form-control-file" id="inputFile" onchange="openFile(event)" >
              <small id="fileHelp" class="form-text text-muted">Select an image for the store</small>

              <img id="output" style="width:100px; height:100px">
            </div>


        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" ng-click="edit()" data-dismiss="modal">Save changes</button>
          </div>
        </div>
      </div>
    </div>
</div>

