
      <!-- MAIN CONTENT SECTION -->
      <section class="mainContent clearfix userProfile" ng-controller="contNuevSucAdmin" data-ng-init="init()">
            <div class="container">
              <div class="row">
                <div class="col-xs-12">
                  <div class="innerWrapper profile">
                    <div class="orderBox">
                      <h4>New Store</h4>
                    </div>
                    <div class="row">
                      <div class="col-md-10 col-sm-9 col-xs-12">
                          <form class="form-horizontal">
                            <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" class="form-control" name="nameProd" placeholder="Name of the Store" ng-model="nombre" required>
                            </div>
                            <div class="form-group">
                              <label>ID</label>
                              <input type="text" class="form-control" name="nameProd" placeholder="ID of the Store" ng-model="idSucursal" required>
                            </div>
                            <div class="form-group">
                              <label>Direction Detail</label>
                              <input type="text" class="form-control" name="nameProd" placeholder="Direction Detail" ng-model="direccion" required>
                            </div>
                            <div class="form-group">
                              <label> Choose Image</label>
                              <input type="file" class="form-control-file" id="inputFile" onchange="openFile(event)" >
                              <small id="fileHelp" class="form-text text-muted">Select an image for the store</small>
                
                              <img id="output" style="width:100px; height:100px">
                            </div>
                      </div>
                            
                            
                            <div class="form-group">
                              <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3">
                                <button type="submit" class="btn btn-primary btn-block" ng-click="createStore()" data-toggle="modal" data-target="#myModal">CREATE STORE</button>
                              </div>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>