 
<!-- MAIN CONTENT SECTION -->
<div  ng-controller="contMedNuevAdmin">
<section class="mainContent clearfix userProfile" data-ng-init="init()">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="innerWrapper profile">
         <div class="orderBox">
         <h4>New Product</h4>
        </div>
        <div class="row">
          <div class="col-md-10 col-sm-9 col-xs-12">
           <form class="form-horizontal">
            <div class="form-group">
             <label>EAN Code</label>
             <input type="text" class="form-control" name="idRec" placeholder="ID of the product" ng-model="ean" required>
           </div>
           <div class="form-group">
             <label>Name</label>
             <input type="text" class="form-control" name="nameProd" placeholder="Name of the product" ng-model="nombre" required>
             </div>
              <div class="form-group">
               <label for="sucursales">Pharmaceutical House</label>
               <select class="form-control" id="Company" ng-model="idProveedor" required>
                <option ng-repeat="p in providerList">{{p.idproveedor}}:{{p.nombre}}</option>
              </select>
            </div>
            <div class="form-group">
              <label for="sucursales">Description</label><br>
              <textarea class="form-control" ng-model="descripcion">

              </textarea>

            </div>

            <div class="form-group">
              <label>Price of the product</label>
              <input type="text" class="form-control" placeholder="Price of the product" ng-model="price" required>

            </div>


            <div class="form-group">
              <label> Choose Image</label>
              <input type="file" class="form-control-file" id="inputFile" onchange="openFile(event)" >
              <small id="fileHelp" class="form-text text-muted">Select an image to represent the product</small>

              <img id="output" style="width:100px; height:100px">
            </div>



                            <div class="form-group">
                              <div class="col-md-offset-7 col-md-5 col-sm-offset-9 col-sm-3">
                                  <div class="form-group">
                                      <div class="col-md-10">
                                          <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal"btn-block>Add Product to store</button>
                                          
                                      </div>
                                      <div class="col-md-2">
                                          <button type="submit" class="btn btn-primary" ng-click="createProduct(id,house,name,medicine,presc,price,qty)" btn-block>Create Product</button>
                                          
                                      </div>
                                      
                  
                              </div>
                              </div>
                            </div>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>

          <div class="modal fade" id="myModal" tabindex="-1" ng-controller="contMedAdmin" ng-click="UpdateDirections()" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content" >
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Add Product to Store</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
      
                    <div class="form-group">
                        <label> Product</label>
                        <select class="form-control" id="Company" ng-model="eanCode" required>
                            <option ng-repeat="p in prodList">{{p.ean}}:{{p.nombre}}</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label> Store</label>
                          <select class="form-control" id="Company" ng-model="idSuc" required>
                              <option ng-repeat="p in sucList">{{p.idsucursal}}:{{p.nombre}}</option>
                            </select>                        
                      </div>
      
                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" ng-click="addProduct()" data-dismiss="modal">Save changes</button>
                  </div>
              </div>
            </div>
          </div>

</div>