 
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix userProfile" ng-controller="contCerrarCaja" data-ng-init="init()">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <div class="innerWrapper profile">
               <div class="orderBox">
               <h4>Close Cash Register</h4>
              </div>
              <div class="row">
                <div class="col-md-10 col-sm-9 col-xs-12">
                 <form class="form-horizontal">
      
                <div class="form-group">
                <label>Amount of Cash</label>
                <input type="text" class="form-control" placeholder="Amount recieved" ng-model="amount" required>
                <label>Summary of cashier</label> 
                <div style="overflow-y:scroll; overflow-x:hidden; height:300px; width:900px">
                    <div class="list-group">
                        <a class="list-group-item" ng-repeat="r in resumen"><h4>
                                <div class="form-group">
                                        <div class="col-md-5">
                                            <label>ID Sale: {{r.idventa}}</label>
                                        </div>
                                        <div class="col-md-4">
                                            <label>ID Client: {{r.idcliente}}</label>
                                        </div>
                                        <div class="col-md-3">
                                            <label>Pay Method: {{r.tpago}}</label>
                                        </div>
                    
                                </div>
                        </h4></a>
                        
                    </div>

                </div>
    
                </div>

                
      
      
                <div class="form-group">
                <div class="col-md-offset-10 col-md-2 col-sm-offset-9 col-sm-3">
                    <button type="submit" class="btn btn-primary" ng-click="closeCash()" btn-block>Close</button>
                </div>
    
                        </div>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>