
RESTFUL/RESTFUL/.vs/RESTFUL/v15/.suo
*.ide
*.cache
*.cache
RESTFUL/RESTFUL/.vs/RESTFUL/v15/.suo
RESTFUL/RESTFUL/.vs/RESTFUL/v15/.suo
RESTFUL/RESTFUL/.vs/RESTFUL/v15/.suo
RESTFUL/RESTFUL/.vs/RESTFUL/v15/Server/sqlite3/storage.ide
RESTFUL/RESTFUL/.vs/RESTFUL/v15/Server/sqlite3/storage.ide-shm
RESTFUL/RESTFUL/.vs/RESTFUL/v15/Server/sqlite3/storage.ide-wal
RESTFUL/RESTFUL/.vs/RESTFUL/v15/sqlite3/db.lock
RESTFUL/RESTFUL/.vs/RESTFUL/v15/sqlite3/storage.ide
*.ide-shm
*.ide-wal
*.cache
*.ide
*.ide
RESTFUL/RESTFUL/RESTFUL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTFUL/RESTFUL/.vs/RESTFUL/v15/.suo
RESTFUL/RESTFUL/.vs/RESTFUL/v15/Server/sqlite3/storage.ide
RESTFUL/RESTFUL/.vs/RESTFUL/v15/sqlite3/storage.ide
*.cache
*.cache
*.lock
*.cache
*.cache
*.cache
RESTFUL/RESTFUL/RESTFUL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTFUL/RESTFUL/RESTFUL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RESTFUL/RESTFUL/RESTFUL/obj/Debug/RESTFUL.csproj.CoreCompileInputs.cache
