  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix signUp" ng-controller="userController" >
        <div class="container">
          <div class="row">
              <div class="panel panel-default">
                <div class="panel-heading"><h3>sing up</h3></div>
                <div class="panel-body">
                        <table class="table">
                                <thead>
                                  <tr>
                                    <th>Personal Information</th> 
                                  </tr>
                                </thead>
                                <tbody>    
                                  <tr >
                                    <td class="primary">
                                        <div class="form-group">
                                        <label for="reg_username" class="sr-only">Name</label>
                                        <input type="text" class="form-control" id="Name" name="reg_username" placeholder="Name" data-ng-model="name" >
                                      </div>
                                     
                                      <div class="form-group">
                                        <label for="reg_username" class="sr-only">Surname</label>
                                        <input type="text" class="form-control" id="Surname" name="reg_username" placeholder="Surname" data-ng-model="surname" > 
                                      </div>
                                      
                                      
                                      <div class="form-group">
                                        <label for="reg_username" class="sr-only">Second Surname</label>
                                        <input type="text" class="form-control" id="sSurname" name="reg_username" placeholder="Second Surname" data-ng-model="sSurname" ></div>
                                        
                                        <div class="form-group">
                                        <label for="reg_username" class="sr-only">Identification</label>
                                        <input type="text" class="form-control" id="Identification" name="reg_username" placeholder="Identification" data-ng-model="id" >       
                                      </div>
                                      
                                      </td>
                                  </tr>
                                </tbody>
                              </table>
                              <button type="submit" class="btn btn-primary btn-block" data-ng-click="createClient()">Sign up</button>
                </div>
              </div>
          </div>
        </div>
      </section>